version: '3.8'

services:
  bot:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: olamda_nima_gap
    container_name: olamda_nima_gap
    restart: unless-stopped
    env_file:
      - ../.env
    volumes:
      - ../data:/app/data
      - ../config:/app/config:ro
    environment:
      - TZ=Asia/Tashkent
